# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs

#Configurable
*.json

/out/build/x64-Debug/CMakeFiles
/out/build/x64-Debug/Ray-racing-club_autogen
/out/build/x64-Debug/Testing/Temporary
/out/build/x64-Debug

